@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

:root{
    --mainFont:'Noto Sans KR', sans-serif;
}
// 임시 폰트지정
*{font-family: var(--mainFont);}

// Views/ title
// 타이틀창 스타일링
.Title{ 
    width: 100%; min-height: 700px;
    &.Pos{
        background: url(assets/field.jpg) center center no-repeat;
        background-size: contain;
        button{display: block;}
        .pitcher,.infielder,.outfielder,.catcher,.dh{
            display: block;
            width: 50px;
            height: 50px;
            background: url(assets/Pitcher.png) center center no-repeat;
            background-size: 50px 50px;
        }
        .infielder{
            background: url(assets/Infielder.png) center center no-repeat;
            background-size: 50px 50px;
        }
        .outfielder{
            background: url(assets/Outfielder.png) center center no-repeat;
            background-size: 50px 50px;
        }
        .catcher{
            background: url(assets/Catcher.png) center center no-repeat;
            background-size: 50px 50px;
        }
        .dh{
            background: url(assets/DH.png) center center no-repeat;
            background-size: 50px 50px;
        }
    }
}
.school-wrap{
    display: flex;

}
.school-selector{
    float: left;
    width: 50%;
    text-align: left;
    max-height: 500px;
    overflow-y: auto;
    .region-box{
        margin-bottom: 20px;
        h3{
            border-bottom: 1px solid #ccc;
            padding-bottom: 5px;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            .school-buttons{
                padding: 9px 12px;
                font-size: 0.85rem;
                font-weight: bold;
            }
        }
    }   
}
